*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(48, 48, 48);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.clockContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(9rem, 22rem, 25rem);
    height: clamp(9rem, 22rem, 25rem);
    border-radius: 50%;
    border: 5px solid rgb(19, 19, 131);
    position: relative;
    box-shadow: -4px 1px 10px rgb(25 25 37), inset 4px 4px 10px rgb(17 17 107 / 22%), inset 4px 1px 10px rgb(5 5 24 / 42%), 4px 4px 10px rgb(20 20 62);
}
#centerDot{
    height: 3vh;
    width: 3vh;
    border-radius: 50%;
    background-color: #1d1d1d;
}
span{
    height: 2vh;
    background-color: rgb(213, 238, 20);
    width: 2vh;
    border-radius: 50%;
    position: absolute;

}
span:nth-child(2) {
    top: 6%;
    right: 30%;
    transform: translateY(50%);
}
span:nth-child(3) {
    top: 27.4%;
    right: 9%;
    transform: translateY(-50%);
}
span:nth-child(4) {
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    width: 10%;
    background-color: aqua;
    border-radius: 10px;
}
span:nth-child(5) {
    bottom: 27.4%;
    right: 9%;
    transform: translateY(50%);
    
}
span:nth-child(6) {
    bottom: 6.4%;
    right: 26%;
    transform: translateY(-50%);
}
span:nth-child(7) {
    bottom: -2%;
    right: 48%;
    transform: translateY(-50%);
    height: 10%;
    background: aqua;
    border-radius: 10px;
}
span:nth-child(8) {
    bottom: 9%;
    left: 24%;
    transform: translateY(-50%);
}
span:nth-child(9) {
    bottom: 28%;
    left: 9%;
    transform: translateY(-50%);
}
span:nth-child(10) {
    bottom: 46%;
    right: 87%;
    transform: translateY(-50%);
    width: 10%;
    background: aqua;
    border-radius: 10px;
}
span:nth-child(11) {
    top: 29%;
    left: 9%;
    transform: translateY(-50%);
}
span:nth-child(12) {
    top: 11%;
    left: 28%;
    transform: translateY(-50%);
}
span:nth-child(13) {
    top: 8%;
    height: 10%;
    border-radius: 10px;
    background: aqua;
    left: 48%;
    transform: translateY(-50%);
}

/* CSS for time sticks */
#Hstick, #Mstick, #Sstick{
    position: absolute;

}
#Hstick{
    top: 20%;
    left: 48.9%;
    border-radius: 23px;
    width: 2.3%;
    transform-origin: 50% 76.7%;
    height: 39%;
    background-color: #ff4d00;
}
#Mstick{
    top: 9%;
    left: 49%;
    border-radius: 23px;
    width: 2%;
    transform-origin: 53% 75.9%;
    height: 54%;
    background-color: #11ff4c;
}
#Sstick{
        top: 6%;
        left: 49.2%;
        border-radius: 23px;
        width: 1.5%;
        height: 60%;
        transform-origin: 60% 73%;
        background-color: #539effc7;
}
/*Responsiveness Mobiles And Tablets  */
@media (max-width:450px) {
    .clockContainer {
        width: clamp(9rem, 18rem, 25rem);
        height: clamp(9rem, 18rem, 25rem);
    }
}
@media (max-width:350px) {
    .clockContainer {
        width: clamp(9rem, 12rem, 25rem);
        height: clamp(9rem, 12rem, 25rem);
    }
    span{
        height: 10px;
        width: 10px;
    }
}